*,
*::before,
*::after {
  box-sizing: border-box;

}

html,
body
{
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-family: Arial;
}

/*HEADER*/

header {
 margin: 0px;
 padding: 5px;
}

h1,
.sum,
.coords{
	color: #FFFFFF;
	font-weight: 700;
}

h2{
	margin-left: 15px;
}

h1,
h2,
h3,
.navbar ul li,
div.box-title{
	font-family: Rockwell;
}

.box-picts-imgs{
	margin: 0;
	/* border: #F77F00 solid 1px; 
	border-radius: 15px;
	width: 100px;
	height: fit-content; */
	/* width: 350px; */
}

.box-picts-imgs figure{
	text-align: right;
}

.box-picts-imgs figure img{
	/* margin: auto; */
	margin-top: 5px;
	margin-right: 20px;
}

/*header,
main{
	margin-left: 15px;
}*/

/*main#container,
div.t-profil{
margin: 0;
}
*/
h1,
.t-lft, 
section h2{
	text-transform: uppercase;
	font-weight: bold;
}
section h2{
	font-size: 1.25em;
}

table.tab-coords th{
	text-transform: uppercase;
	text-align: left;
}

p.box-resume 
{
	/* background: #F77F00; */
	border: #F77F00 solid 2px;
	border-radius: 15px;
	padding: 10px;
	color: #F77F00;
	font-weight: none;
}

/*UNDER HEADER*/

#t-profil {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*#t-profil div {
  width: 100px;
  height: 100px;
}*/
    
.word{
/* background: orange;*/
 width: 5%;
 height: 110px;

}

.sum{
 /*border:2px solid #F77F00;*/
 width: 50%;
 /*background-color: #ffffff;*/
 /* padding: 15px; */
 display: flex;
 flex-direction: row;
}

img#cv-photo{
 /*background: blue;*/
 width: 140px;
}

.coords{
 /*background: brown;*/
 width: 25%;
 margin-left: 30px;
}
.tab-coords{
	width: 400px;
	border-collapse: collapse;
}

.tab-coords,
.tab-coords td{
	border: #000 4px solid;
}

/* Appliquer un style à la colonne de gauche */
.tab-coords td:nth-child(1) {
	text-align: center;
	width: 40px;
	padding: 10px;
  }
  
  /* Appliquer un style à la colonne de droite */
  .tab-coords td:nth-child(2) {
	text-align: left;
	padding-left: 15px;
  }
  
  /* Styliser les images à l'intérieur des outils 
  .tools img {
	vertical-align: middle;  Ajuster l'alignement vertical des images */
  }


table.tab-coords tr{
	padding-top: 5px;
}

.tab-coords{
	margin-right: 30px;
	margin-bottom: 30px;
}

/* #cv-photo{
	clip-path: circle(40%);
	filter: contrast(200%);
} */

/*NAVBAR*/

.navbar ul{
 list-style-type: none;
 margin: 0;
 padding: 0;
 background: #FFFFFF;
 width: 100%;

} 

.navbar ul li{
display: inline-flex;
width: 15%;
 /*border: 1px solid #333;*/
border: 2px solid #F77F00;
border-radius: 5px;
margin-right: 15px;
margin-top: 15px;
text-align: center;
overflow: hidden;
font-size: 0.9rem;
}

.navbar ul li:first-child{
	margin-left: 20px;
}

.navbar ul li:hover{
 border-bottom: none;
}

.navbar ul li a{
 display: block;
 color: #000000;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 width: 100%;
}

.navbar ul li:hover a,
.navbar ul li:active a,
.navbar ul li:focus a{
 background: #F77F00 !important;
 /* background: #009E60     !important; */
 color: #ffffff;
 border: 2px solid #F77F00;
 width: 100%;
}

.navbar ul li{
	text-transform: uppercase;
	font-weight: bold;
}

.navbar ul li:hover{
	 border: none;
	 text-align: center;
}

/*SECTION*/

.timeline {
	width: 100%; 
}

.timeline th,
.exp th{
	width: 250px;
}

.timeline tr td{
	margin-bottom: 25px;
	line-height: 2;
}

.timeline tr{
	line-height: 2;
}

#col{
	display: inline-flex;
	flex-direction: row;
	width: 100%;
}

#col table{
	margin: 15px auto;
}

.exp tr{
	line-height: 2.5;
}

.exp tr td{
	line-height: 2;
}

/*h2 img{
	background: #F77F00;
}*/

h2 img{
	margin-right: 10px;
	vertical-align: middle;
}

/*.timeline {
margin: auto;
}*/

/*.t-profil{

}*/

/*.t-lft p{
	border: 1px #F77F00 solid;
}*/

header h2{
	color: #F77F00;
}

/*img#cv-photo{
	 border: 4px solid #000;
	border-radius: 50%; 
}*/

hgroup#doc-title{
	text-align: center;
	line-height: 0.5;
}

/*HR*/

hr{
	display: block;
	border-top: 2px solid #F77F00;
	/*border-top: 4px dotted #F77F00;*/
	
	/*z-index: 1;*/
}

hr.solid{
	height: 5px;
}



/*#animated{
	width: 100%;
  background-color: #F77F00;
  /*color: white;*/
  /*animation: 3s linear 1s slidein;
  animation: 3s slidein;
}*/

/*@keyframes slidein {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
}*/


span.gras{
	font-weight: bold;
}

span.blue{
	color: #101566;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
}

.dot2{
	 background-color: #F77F00;
}

/*Section */

   /*section{
   	display: block;
   	margin-top: 10px;
   	margin-bottom: 10px;
   }*/

/*HR*/

/*header{
	position: relative;
}*/

/*hr{
	top: 0.8em;
	-webkit-animation: 10s infinite;
  	-moz-animation:  10s infinite;
  	-o-animation:    10s infinite;
  	animation:       10s infinite;	
	display:block;
	position: absolute;
	z-index:-1;
	left: 0px;
	width:100%;
	margin:0;
	border-top: 4px solid #F77F00;
}*/

/*SKILLS*/
table#index1 th[colspan="2"],
table#index2 th[colspan="2"],
table#index3 th[colspan="2"]{
	text-align: center;
	padding: 5px;
}

table#index1 th,
table#index2 th,
table#index3 th{
	text-align: left;
	padding: 7px;
}


/*HOBBIES*/
#hobbies table{
	column-count: 3;
	column-gap: 4;
	line-height: 2;
}

#hobbies table{
	text-transform: uppercase;
	list-style-type: none;
}


/*Galleries*/

div.box-cards {
	display: flex;
	flex-direction: row;
} 

div.card{
	/*border: 2px solid #000;*/
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 25px;
  color: #FFFFFF;
}

div.box-cards{
	width: 100%;
}

div.box-title{
	color: #FFFFFF;
	background: #F77F00;
	font-size: 18px;
	font-weight: bold;
}

div.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

div.card,
img#cover{
	width: 300px;
}

img#cover{
	height: 280px;
}

p.text-card{
	padding: 10px;
	text-align: center;
}

p.text-card a{
	text-decoration: underline;
	color: #FFFFFF;
	font-weight: bold;
}

p.text-card a.link {
	text-decoration: none;
	color: #000;
}

button.bt-card{
	margin: 10px auto;
	display: block;
}

.bt-card a{
	color: #ffffff;
	font-weight: bold;
}

button.bt-card, button.bt-buy{
	background-color: #009E60;
	border: none;
	border-radius: 5px;
	color: #fff;
	padding: 10px;
}

.bt-card a,
.bt-buy a{
	color: #ffffff;
	font-weight: bold;
}

button.bt-buy a{
	text-decoration: none;
	color: #ffffff !important;
	font-weight: bold;
}

button.bt-buy a:hover{
	text-decoration: underline;
}

button.bt-buy{
	float: left;
	margin: 1px;
}

/* td button.bt-buy{

} */

/*BOX*/

div.large-box {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

div.large-box:target {
  display: table;
}

div.large-box figure {
  display: table-cell;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

div.large-box figure figcaption {
  display: block;
  margin: auto;
  padding: 8px;
  background-color: #ffffff;
  height: 450px;
  position: relative;
  overflow: auto;
  border: 1px #000000 solid;
  border-radius: 10px;
  text-align: justify;
  font-size: 14px;
}

div.large-box figure .hidemsg {
  display: block;
  margin: auto;
  height: 0;
  overflow: visible;
  text-align: right;
  z-index: 2;
  cursor: default;
}

div.large-box figure .hidemsg, div.large-box figure figcaption {
  width: 1000px;
}

.hidemsg::after {
  content: "\00D7";
  display: inline-block;
  position: relative;
  right: -20px;
  top: -10px;
  z-index: 3;
  color: #ffffff;
  border: 1px #ffffff solid;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  line-height: 18px;
  text-align: center;
  margin: 0;
  background-color: #000000;
  font-weight: bold;
  cursor: pointer;
}

.hidemsg::before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.85;
}

figcaption .tab-box{
	margin-left: auto;
margin-right: auto;
margin-top: 55px;/* largeur obligatoire pour être centré */
}

/*BOX*/
.tab-box{
 border: 1px solid #ddd;
 width: 85%;
 border-collapse: collapse;
}

.tab-box td, .tab-box th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tab-box tr th{
	text-align: center;
}

/* .tab-box tr:nth-child(even){background-color: #f2f2f2;} */

/*.tab-box tr:hover {background-color: #ddd;}*/

.tab-box th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #F77F00;
  color: white;
}

.tab-box tr td a{
	text-decoration: none;
	color: #000000;
}

.tab-box tr td a:hover{
	text-decoration: underline;
}


/*Formulaire de contact*/
form#contact{
	width: 50%;
	margin: auto;
}

input, 
select{
	padding: 15px;
	margin-bottom: 25px;
}

input{
	display: block;
	width: 100%;
	
}

form#contact, 
fieldset{
	/*background: #F9F9F9;*/
		border: none;
	/*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;*/
}

input,
textarea, 
select{
	border: none;
	padding: 15px;
	margin-top: 15px;
	background-color: #e2e2e2;
	width: 100%;
}

input:focus, 
textarea:focus, 
select:focus{
outline: none;
}
 
input:focus,
select:focus,
textarea:focus 
 {
	/*border-bottom: 2px solid #F77F00;*/
  /*box-shadow: 0 2px 2px #F77F00;*/
   box-shadow: 0 0 10px #F77F00;
   background-color: #FFFFFF;
}


/*input:focus {
  border-bottom: 4px solid #F77F00;
}*/


select {
  border: none;
  width: 100%;
  appearance: none;
  /* background: url("picts/downward-arrow-small.png") no-repeat right #F2F2F2; */
  background-color: #e2e2e2;
}

#contact h3,
div.box-title{
	text-align: center;
	text-transform: uppercase;
}

#contact h3,
#contact label{
	font-weight: 900;
}

/* #contact ::placeholder,
.style-select select option[value="choix"] {
	color: #d39451;
  } */

/*select > button { 
  foreground-image:url(stock:chevron-down); that arrow 
}

select:hover > button {
  fill: #F77F00; 
}


/*Arrow*/



/*Buttons*/

#contact button[type="submit"]{
	background-color: #009E60;

}

#contact button[type="reset"]{
	background-color: #F77F00;
	border: none;
}

#contact button[type="submit"],
#contact button[type="reset"]{
		border: none;
		width: 25%;
		cursor: pointer;
}

#contact button[type="submit"]:hover,
#contact button[type="reset"]:hover{
	color: #FFFFFF;
	/* text-decoration: underline #FFFFFF; */
}

div.bt-group{
	
	margin: 5px auto;
	padding: 5px;
	text-align: center;
}

div.bt-group button{
	border-radius: 5px;
	padding: 15px;
	font-weight: bold;

}

label{
	font-weight: bold;
	margin-bottom: 0;
}


header,
hgroup,
div#t-profil,
div.card{
	background-color: #333;
}

header,
hgroup{
	margin-top: 0;
}

/*SCROLL UP*/

/*FOOTER*/

footer#footer{
	margin: 0;
	height: 200px;
	width: 100%;
	background: #333;
	color: #FFF;
}

#hobbies ul{
	/*list-style-image: url('picts/lecture.png');*/
	font-weight: none;
}

/*#hobbies ul li:first-child{
	list-style-image: url('picts/lecture.png');
}*/


/*nav{
	position: fixed;
	top: 300px;
	right: 300px;
	left: 300px;
	padding-bottom: 5px;
}*/

/*FOOTER*/

.style-selected{
	width: 100%;
	padding: 15px;
}

#statut-selected{
	width: 20%;
}

div.data{
	width: 100%;
	/*background: orange;*/
	padding: 15px;
	text-align: center;
}
